/* [RESPONZIVNÍ ZOBRAZENÍ MENU - VELKÉ OBRAZOVKY] */

#menu label, #menu input {
    display: none;
}

nav {
    display: flex;
}


/* [RESPONZIVNÍ ZOBRAZENÍ MENU - MALÉ OBRAZOVKY] */
@media screen and (max-width: 768px) {

    #menu label {
        position: absolute;
        right: 20px;
        display: inline-block;
        color: black;
        background-color: #f4f4f4;
        font-style: normal;
        font-size: 20px;
        padding: 15px;
    }

    nav a {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }

    nav {
        display: none;
    }

    #menu input:checked ~ nav {
        display: block;
        margin-right: 30px;
    }

    #menu a {
        margin-right: 5px;
        font-size: 12px;
        color:white;
        text-decoration-line: none;
        text-shadow: 1px 1px 1px darkred;
        font-family: Arial;
        padding-bottom: 5px;
        padding-left: 5px;
    }
}