/* [HLAVICKA / MENU] */
#menu {
    background-color: black;
    justify-content: space-between;
    display:flex;
    padding: 10px;
}

#menu a {
    margin-right: 30px;
    font-size: 20px;
    color:white;
    text-decoration-line: none;
    text-shadow: 1px 1px 1px darkred;
    font-family: Arial;
}

.logo > a img {
    height: 80px;
    border-radius: 25%;
    margin: 0;
}

#nav {
    padding-top: 30px;
}

#nav_prihlaseni {
    padding-top: 30px;
    padding-left: 50px;
}

/* [HERO] */
.nadpis {
    text-align: center;
    color:orange;
    font-size: 120px;
    padding-top: 150px;
    text-shadow: 2px 2px 9px black;
    margin: 0px;
    -webkit-text-stroke: 3px black;
}

#hero {
    background-image: url("../IMG/titulka_filmy.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* [SECTION] */

.body_index {
    margin:0px;
    background-color: black;
}

.body_index_form {
    margin:0px;
    background-color: #f4f4f4;
}

h2 {
    color:white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-size: 45px;
}

#h2_form {
    color:black;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    font-size: 25px;
}

.galerie {
    margin: auto;
}

#obrazky_galerie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.obrazek_galerie > a img {
    width: 210px;
    height: 320px;
    margin: 10px;
}

/* [KOSIK] */
#h2_black {
    color:black;
}

#h2_kosik {
    font-size: 40px;
    color:black;
    text-align: center;
    padding-left: 50px;
    margin: auto;
}

#h2_kosik_vybrano {
    font-size: 40px;
    color:orangered;
    text-align: center;
    padding-left: 50px;
}

.sekce_kosik {
    background-color: #f4f4f4;
    margin: auto;
    width: 60%;
    padding: 5px;
}

#kosik_nadpis {
    display: flex;
}

#h3_doprava {
    font-size: 25px;
}

/* ZDROJ: W3 school (následujících 6 stylů - upraveno) */
.label_radio {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
}

.label_radio input {
    opacity: 0;
    cursor: pointer;
}

.doprava_radiobutton {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.label_radio:hover input ~ .doprava_radiobutton {
    background-color: #AAAAAA;
}

.label_radio input:checked ~ .doprava_radiobutton {
    background-color: orangered;
}

.label_radio .doprava_radiobutton:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #333333;
}

/* [PATICKA] */

footer {
    background-image: url("../IMG/paticka_obrazek.png");
    justify-content: center;
    color:black;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

#paticka {
    background-image: url("../IMG/paticka_obrazek.png");
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
    margin-top: 400px;
}

footer a {
    color:white;
    text-decoration-line: none;
    font-size: 17px;
}

.paticka_nadpis > a {
    color:white;
    font-size: 25px;
    font-family: Arial;
    text-decoration-line: none;
    text-shadow: 1px 1px 1px black;
}